*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
*.DS_Store
*.env
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
env.txt
*/local-storage/People/**
*/local-storage/Vehicles/**
!*vehicleDefaultPic.png
!**/personDefaultProfilePicture.jpeg
