*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
/.DS_Store
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
env.txt
local-storage/*/*.jpg
local-storage/*/*.png
local-storage/*/*.jepg
